In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import os
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2021-04-14 17:05:11,-21.2078,-159.7750,69.80,100,7,1.14
1,1,Atuona,PF,2021-04-14 17:05:11,-9.8000,-139.0333,79.77,81,83,18.66
2,2,Busselton,AU,2021-04-14 17:03:22,-33.6500,115.3333,54.00,96,41,4.74
3,3,Nerang,AU,2021-04-14 17:05:11,-27.9833,153.3333,63.00,94,0,5.39
4,4,Pacific Grove,US,2021-04-14 17:05:12,36.6177,-121.9166,54.00,70,66,1.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Percent Cloudiness Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

clouds = city_data_df["Cloudiness"]

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Wind speed Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

wind = city_data_df["Wind Speed"]

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2021-04-14 17:05:11,-9.8000,-139.0333,79.77,81,83,18.66
6,6,Rawson,AR,2021-04-14 17:05:12,-43.3002,-65.1023,79.66,28,64,9.15
8,8,Namibe,AO,2021-04-14 17:05:13,-15.1961,12.1522,81.03,67,7,11.88
13,13,Rikitea,PF,2021-04-14 17:05:14,-23.1203,-134.9692,77.54,73,8,7.76
16,16,Mana,GF,2021-04-14 17:05:15,5.6592,-53.7767,84.06,69,81,10.49
17,17,Esmeraldas,BR,2021-04-14 17:05:15,-19.7625,-44.3139,82.40,57,75,8.05
18,18,Luderitz,NaN,2021-04-14 17:05:15,-26.6481,15.1594,78.91,32,0,9.55
21,21,Cabo San Lucas,MX,2021-04-14 17:01:00,22.8909,-109.9124,81.00,46,1,3.44
22,22,Nhulunbuy,AU,2021-04-14 17:05:16,-12.2333,136.7667,75.20,88,78,3.44
27,27,Sur,OM,2021-04-14 17:05:17,22.5667,59.5289,86.14,44,8,9.22

In [13]:
preferred_cities_df.count()

City_ID       195
City          195
Country       189
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

In [14]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2021-04-14 17:05:11,-9.8000,-139.0333,79.77,81,83,18.66
6,6,Rawson,AR,2021-04-14 17:05:12,-43.3002,-65.1023,79.66,28,64,9.15
8,8,Namibe,AO,2021-04-14 17:05:13,-15.1961,12.1522,81.03,67,7,11.88
13,13,Rikitea,PF,2021-04-14 17:05:14,-23.1203,-134.9692,77.54,73,8,7.76
16,16,Mana,GF,2021-04-14 17:05:15,5.6592,-53.7767,84.06,69,81,10.49
...,...,...,...,...,...,...,...,...,...,...
544,544,Eyl,SO,2021-04-14 17:07:38,7.9803,49.8164,81.12,71,98,13.11
547,547,Sorong,ID,2021-04-14 17:05:10,-0.8833,131.2500,79.09,82,100,10.56
551,551,Adeje,ES,2021-04-14 17:07:40,28.1227,-16.7260,75.20,64,20,9.22
554,554,Bella Union,UY,2021-04-14 17:07:40,-30.2752,-57.6007,79.41,50,10,7.52
558,558,Port Hedland,AU,2021-04-14 17:07:42,-20.3167,118.5667,77.00,73,61,10.36

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1           Atuona      PF     79.77  -9.8000 -139.0333
6           Rawson      AR     79.66 -43.3002  -65.1023
8           Namibe      AO     81.03 -15.1961   12.1522
13         Rikitea      PF     77.54 -23.1203 -134.9692
16            Mana      GF     84.06   5.6592  -53.7767
17      Esmeraldas      BR     82.40 -19.7625  -44.3139
18        Luderitz     NaN     78.91 -26.6481   15.1594
21  Cabo San Lucas      MX     81.00  22.8909 -109.9124
22       Nhulunbuy      AU     75.20 -12.2333  136.7667
27             Sur      OM     86.14  22.5667   59.5289

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,79.77,-9.8000,-139.0333,Villa Enata
6,Rawson,AR,79.66,-43.3002,-65.1023,Hosteria Sampedro
8,Namibe,AO,81.03,-15.1961,12.1522,Hotel Chik Chik Namibe
13,Rikitea,PF,77.54,-23.1203,-134.9692,Pension Maro'i
16,Mana,GF,84.06,5.6592,-53.7767,LE SAMANA
...,...,...,...,...,...,...
544,Eyl,SO,81.12,7.9803,49.8164,Amiin Hotel
547,Sorong,ID,79.09,-0.8833,131.2500,waigo splash hotel
551,Adeje,ES,75.20,28.1227,-16.7260,Gran Tacande Wellness & Relax
554,Bella Union,UY,79.41,-30.2752,-57.6007,Hotel Oriente
558,Port Hedland,AU,77.00,-20.3167,118.5667,The Esplanade Hotel

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))